{% extends ['list.twig'] %}
{% block title %}{{ Yii.t('app', 'Titlee') }}{% endblock %}


{% block top %}
    <h1>Customer's add-on</h1>
    {{ Breadcrumbs.widget({
        links: this.getBreadcrumbs
    }) | raw }}
{% endblock %}

{% block content %}
{{ use('yii/grid/GridView') }}

{% do pjax_begin() %}
<div class="row">
    <div class="col-lg-12">
        <h4>{{ Yii.t('app', 'Customers list') }}</h4>

            {{ GridView_widget({
                    dataProvider: dataProvider,
                    filterModel: filterModel,
                    columns: {
                        0: 'id',
                        1: {
                            label: 'Name',
                            attribute: 'name',
                            contentOptions: {'style':'width: 80%'},
                        },
                        2: 'status',
                        3: {
                            'class': 'app\\models\\CustListActionColumn'
                        }
                    },
                    emptyText: Yii.t('app', 'No customers found!'),
                    summary: ''
                }) | raw }}

    </div>
</div>
{% do pjax_end() %}
{% endblock %}