<title>{% block title %}{% endblock %}</title>

<div class="splynx_top_nav">
    {% block top %}
    {% endblock %}
    <div class="clearfix"></div>
</div>
{% block before_content_scripts %}
{% endblock %}
{% block content %}
{% endblock %}

{% block scripts %}
{% endblock %}
