{% extends ['list.twig'] %}
{% block title %}{{ Yii.t('app', 'Titlee') }}{% endblock %}


{% block top %}
    <h1>Customer's add-on</h1>
    {{ Breadcrumbs.widget({
        links: this.getBreadcrumbs
    }) | raw }}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <h4>{{ Yii.t('app', 'Edit customer') }}</h4>

            {% set form = form_begin({
                'id': 'edit-cust-form',
                'options': {
                    'data-pjax': '',
                    'class': 'form-horizontal'
                },
                'fieldConfig': {
                    'template': "{label}\n<div class=\"col-lg-4\">{input}</div>\n<div class=\"col-lg-6\">{error}</div>",
                    'labelOptions': {'class': 'col-lg-2 control-label'},
                }
            }) | raw %}

            {% if model.errors.processError is defined %}
                {% for error in model.errors.processError %}
                    <div id="add-funds-error-{{ loop.index }}" class="alert-danger alert fade in">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}

            {{ form.field(model, 'id').textInput({'readOnly' : 'true'}) | raw }}

            {{ form.field(model, 'name') | raw }}

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    {{ Html.submitButton(Yii.t('app', 'Save'), {
                        'class': 'btn btn-primary',
                        'name': 'edit-button'
                    }) | raw }}
                </div>
            </div>

        {{ form_end() }}



    </div>
</div>

{% endblock %}
