{% extends ['list.twig'] %}

{% block title %}{{ App.t('customers', 'Customers list') }}{% endblock %}

{% block scripts %}
    <script>
        {% include 'customers/list/index.js.twig' %}
    </script>
{% endblock %}

{% block top %}
    {{ Breadcrumbs.widget({
        links: this.getBreadcrumbs
    }) | raw }}

    {% if default_status_filter is not empty %}
        {% set selected_status = default_status_filter %}
    {% else %}
        {% set selected_status = statusOptions | keys %}
    {% endif %}

    {{ FilterWidget.widget({
        'buttons': {
            'filter': {
                'text': App.t('customers', 'Filter'),
                'id': 'admin_customers_filter_button',
                'options': {
                    'onclick': 'onclick=$(\'body\').scrollTo(\'#filter\');'
                }
            },
            'refresh': {
                'text': App.t('customers', 'Refresh'),
                'id': 'customers_list_refresh_button',
            }
        },
        'filters': {
            'type': {
                'label': App.t('customers', 'Status'),
                'type': 'multipleSelect',
                'options': {
                    'options': statusOptions,
                    'style': "width: 120px;",
                    'id': 'admin_customers_list_filter_status_select',
                    selected: selected_status,
                }
            }
        }}) |raw }}
{% endblock %}

{% block content %}
    <div id="admin_customers_list_tabs">

        <ul>
            <li id="admin_customers_list_all_tab">
                <a href="/admin/customers/list--all{% if filter is not null %}?filter={{ filter|url_encode }}{% endif %}{% if filter is not null %}&{% else %}?{% endif %}{% if filter_online is not null %}&filter_online={{ filter_online|url_encode }}{% endif %}">{{ App.t('customers', 'All customers') }}</a>
            </li>

            {% if onlineEnabled %}
                <li id="admin_customers_list_online_tab">
                    <a href="/admin/customers/list--online{% if filter is not null %}?filter={{ filter|url_encode }}{% endif %}{% if filter is not null %}&{% else %}?{% endif %}{% if filter_online is not null %}&filter_online={{ filter_online|url_encode }}{% endif %}">{{ App.t('customers', 'Online customers') }}</a>
                </li>
            {% endif %}
            {{ AddonPortalWidget.widget({
                page: 'controllers\\admin\\customers\\ListController',
                type: 'tab',
                params: params
            }) | raw }}
        </ul>

    </div>
{% endblock %}

