{{ use('yii/bootstrap/Alert') }}

<h1>test 2</h1>

{{ alert_widget({
        'options' : {
           'class' : 'alert-warning'
        },
        'body' : 'mmm mmm'
    }) | raw }}

    {{ test_var }} !!!

    {% set default_status_filter = 1 %}
    {% if default_status_filter != 1 %}
        <h2>7777</h2>
    {% else %}
        <h2>RRR</h2>
    {% endif %}